<h1>Weekly statistics</h1>
<p>Hi <%= @user.name %>, last week you had:</p>
<p><%= @user.following_post_count %> new post of people you follow</p>
<p><%= @user.new_follow_count %> new follow</p>
<p><%= @user.post_count %> post</p>